services:
  lms_books_command:
    image: lms_books_command:latest
    container_name: lms_books_command
    build:
      context: ./P2/lms_books_command
      dockerfile: DockerfileWithPackaging
    ports:
      - "8081:8080"
    networks:
      - lms_network
    depends_on:
      postgres_in_lms_network:
        condition: service_healthy
      rabbitmq_in_lms_network:
        condition: service_healthy

  lms_books_query:
    image: lms_books_query:latest
    container_name: lms_books_query
    build:
      context: ./P2/lms_books_query
      dockerfile: DockerfileWithPackaging
    ports:
      - "8082:8080"
    networks:
      - lms_network
    depends_on:
      postgres_in_lms_network:
        condition: service_healthy
      rabbitmq_in_lms_network:
        condition: service_healthy

  lms_lendings_command:
    image: lms_lendings_command:latest
    container_name: lms_lendings_command
    build:
      context: ./P2/lms_lendings_command
      dockerfile: DockerfileWithPackaging
    ports:
      - "8083:8080"
    networks:
      - lms_network
    depends_on:
      postgres_in_lms_network:
        condition: service_healthy
      rabbitmq_in_lms_network:
        condition: service_healthy

  lms_lendings_query:
    image: lms_lendings_query:latest
    container_name: lms_lendings_query
    build:
      context: ./P2/lms_lendings_query
      dockerfile: DockerfileWithPackaging
    ports:
      - "8084:8080"
    networks:
      - lms_network
    depends_on:
      postgres_in_lms_network:
        condition: service_healthy
      rabbitmq_in_lms_network:
        condition: service_healthy

networks:
  lms_network:
    name: lms_network