services:
    mongodb_query_dev:
        container_name: mongodb_query_dev
        image: mongo:7.0
        restart: unless-stopped
        ports:
            - "27017:27017"
        environment:
            MONGO_INITDB_ROOT_USERNAME: admin
            MONGO_INITDB_ROOT_PASSWORD: admin
            MONGO_INITDB_DATABASE: query_books_dev
        volumes:
            - mongodb_query_volume:/data/db
            - ./init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
        networks:
            - lms_network
        healthcheck:
            test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
            interval: 10s
            retries: 5
            timeout: 5s

    rabbitmq_dev:
        container_name: rabbitmq_dev
        image: rabbitmq:3-management
        restart: unless-stopped
        ports:
            - "5672:5672"
            - "15672:15672"
        environment:
            RABBITMQ_DEFAULT_USER: guest
            RABBITMQ_DEFAULT_PASS: guest
        networks:
            - lms_network
        healthcheck:
            test: ["CMD", "rabbitmqctl", "status"]
            interval: 10s
            retries: 5
            timeout: 5s

    lmsbooks_1:
        image: lmsbooks:query
        container_name: books1_query_in_lms_network
        build:
            context: ../..
            dockerfile: Dockerfile
        ports:
            - "8085:8080"
        environment:
            SPRING_PROFILES_ACTIVE: instance1,bootstrap
        networks:
            - lms_network
        volumes:
            - "uploaded_files_volume_1:/tmp"
        depends_on:
            mongodb_query_dev:
                condition: service_healthy
            rabbitmq_dev:
                condition: service_healthy

    lmsbooks_2:
        image: lmsbooks:query
        container_name: books2_query_in_lms_network
        build:
            context: ../..
            dockerfile: Dockerfile
        ports:
            - "8086:8080"
        environment:
            SPRING_PROFILES_ACTIVE: instance2
        networks:
            - lms_network
        volumes:
            - "uploaded_files_volume_2:/tmp"
        depends_on:
            mongodb_query_dev:
                condition: service_healthy
            rabbitmq_dev:
                condition: service_healthy

networks:
    lms_network:
        external: true

volumes:
    uploaded_files_volume_1:
    uploaded_files_volume_2:
    mongodb_query_volume:
